@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC);

#mastodon .status p,
#mastodon .detailed-status p,
#mastodon .compose-form textarea,
#mastodon .account__header__display-name,
#mastodon .account__header__content p {
  font-family: 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans SC', sans-serif;
  font-weight: lighter;
}
